<!DOCTYPE html>
<html lang="en">
<head>
    {% load compute %}
        <!--bs 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>현재 혼잡 순위</title>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../">영제이물산</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="../"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../1bz">견적 내기</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../2em">제품 후기</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../3my">입점 하기</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../4vs">나의 견적</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../5cm">나의 후기</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../6fd">즐겨 찾기</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="../chat">고객 센터</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../search">회사 정보</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>